
# Exclude screening tool data
*.egg-info/
*.pyc
*.pyo
*.swp
.DS_Store
.idea/
.vscode/
__pycache__/
cochrane-ai-screening/data/input/
cochrane-ai-screening/data/output/
cochrane-ai-screening/export_from_covidence/
env/
venv/
